*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: #eee;
}

@media screen and (max-width: 1400px) {
    html{
        font-size: 14px;
    }
  }
.sidebar-options{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.autoplay{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.switch{
    background-color: rgb(22, 122, 198);
    border-radius: 100px;
    width: 40px;
    height: 20px;
    position: relative;
}
.switch::after{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background: white;
    right: 0;
    border: 1px solid grey;
    border-radius: 100%;
    top: 0;
}

.switch:focus{
    background-color: grey;
}
.switch:focus::after{
    right: calc(100% - 20px);
}
.center-content {
    text-align: center;
    display: block;
    text-decoration: none;
    color: grey;
}

button,input{
    background: white;
    border: 0;
}
button:hover{
    cursor: pointer;
}
.sign{
    background-color: rgb(22, 122, 198);
    border-radius: 3px;
    color: white;
    height: 100%;
    padding: 0 1.2rem;
}

.horiz-line {

    margin: 0 0.95rem 0 0.95rem;
    height: 1px;
    border: 0px;
    background: rgba(0, 0,0, 0.2);
}

.comment-section-container {
    padding: 4.5rem;
}

.comment {
    text-align: center;
}

.video-description-more {
    padding: 0.75rem;
    font-size: 0.95rem;
}

.video-description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

#navigation{
    height: 4rem;
    display: flex;
    background-color: white;
    align-items: center;
}
#video{
    width: 100%;
    margin-right:1.45rem;
}
.content{
    margin-top: 4.5rem; 
    display: flex;

    justify-content: space-between;

}
#sidebar{
    width: 35rem;
    background-color: white;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 0 2.5rem;
    justify-content: space-between;
}
#left-side, #right-side{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
}
.search{
    width: 100%;
    display: flex;
    
}
.search input{
    height: 100%;
    font-size: 1.15rem;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(177, 177, 177);
}
.search-button{
    padding: 0 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
}

.sidebar-vid{
    display: flex;
    margin: 0.9rem;
}

.thumbnail-img{
    width: 50%;
    position:relative;
}
.thumbnail-img::after{
    content: "22:50";
    position: absolute;
    background-color: rgba(0, 0,0, 0.5);
    right: 3px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 5px;
    width: 20%;
    height: 20%;
}

.thumb-title{
    font-size:1.15rem
}
.thumb-info{
    font-size: 0.85rem;
}
.thumb-description{
    width: 50%;
    margin-left: 0.925rem;
}
.profile{
    display: flex;
    margin-bottom: 0.6rem;
}
.profile-name{
    font-weight: bold;
    display: block;
}
.subscribe{
    display:flex;
}
.subscribe-counter{
    border:1px solid grey;
}
.subscribe-button{
    background: red;
    border:0;
    color:white;
}
.video-info{
    margin-left:1.25rem;
}
.video-title{
    margin-top: 2.5rem ;
    margin-bottom:1.25rem;
}
.profile-info{
    margin-left: 1.25rem;
}
.profile-name{
    margin-bottom: 1.25rem;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #949494;
}
.info-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.info-button{
    text-align: center;
}
.views-title{
    font-size: 1.7rem;
    font-weight: 300;
    color: rgb(102, 101, 101);
}
.Hr{
    background: rgb(22, 122, 198);
    height: 3px;
    margin-bottom:-2px;
    width: 90%;
    border:0;
}
.container{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
.like{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.like img{
    margin-right: 8px;
}


.footer-container {
    background-color: white;
}

.footer-upper {
    display: flex;
    margin: 1.5rem 0.95rem;
}

.footer-upper-elem {
    margin-left: 20px;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.arrow-icon {
    margin-left: .5rem;
    width: 10px;
}
.footer-lower{
    margin-top: 1.7rem;
    margin: 0 0.95rem;
}

.footer-list{
    display: flex;
    list-style: none;
    padding: .5rem 0;
}
.footer-list li{
    margin-right: 2.5rem;
    font-size: 1rem;
}
.main li{
    font-weight: bold;
    font-size: 1.1rem;

}