*{
    margin:0;
    padding:0;
    background-color: #edebeb;
}

body {
    background-color: #eeeeee;
}
.horiz-line {
    margin: 0 15px 0 15px;
    height: 1px;
    border: 0px;
    background: rgba(0, 0,0, 0.2);
}

.video-description {
    margin-top: 15px;
    font-size: 13px;
}

#navigation{
    height: 50px;
    display: flex;
    align-items: center;
}
#video{
    width: 100%;
    margin-right:20px;
}
.content{
    margin-top: 70px; 
    display: flex;

    justify-content: space-between;

}
#sidebar{
    width: 600px;
    background-color: white;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}
#left-side, #right-side{
    display: flex;
    width: 300px;
}
.search{
    width: 100%;
    display: flex;
    
}
.search input{

    width: 100%;
}

.sidebar-vid{
    display: flex;
    margin: 15px;
}

.thumbnail-img{
    width: 50%;
    position:relative;
}

.thumb-title{
    font-size:18px
}
.thumb-info{
    font-size: 12px;
}
.thumb-description{
    width: 50%;
    margin-left: 15px;
    
}
.profile{
    display: flex;
    margin-bottom: 10px;
}
.profile-name{
    font-weight: bold;
    display: block;
}
.subscribe{
    display:flex;
}
.subscribe-counter{
    border:1px solid grey;
}
.subscribe-button{
    background: red;
    border:0;
    color:white;
}
.video-info{
    margin-left:20px;
}
.video-title{
    margin-top: 40px ;
    margin-bottom: 20px;
}
.profile-info{
    margin-left: 20px;
}
.profile-name{
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #949494;
}
.info-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.info-button{
    text-align: center;
}
.views-title{
    font-size: 30px;
    font-weight: 300;
    color: rgb(102, 101, 101);
}
.Hr{
    background: rgb(22, 122, 198);
    height: 3px;
    margin-bottom:-2px;
    width: 90%;
    border:0;
}