*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #edebeb;
}


button,input{
    background: white;
    border: 0;
}
button:hover{
    cursor: pointer;
}
.sign{
    background-color: rgb(22, 122, 198);
    border-radius: 3px;
    color: white;
    height: 100%;
    padding: 0 20px;
}

body {
    background-color: #eeeeee;
}
.horiz-line {
    margin: 0 15px 0 15px;
    height: 1px;
    border: 0px;
    background: rgba(0, 0,0, 0.2);
}

.video-description {
    margin-top: 15px;
    font-size: 13px;
}

#navigation{
    height: 70px;
    display: flex;
    align-items: center;
}
#video{
    width: 100%;
    margin-right:20px;
}
.content{
    margin-top: 70px; 
    display: flex;

    justify-content: space-between;

}
#sidebar{
    width: 600px;
    background-color: white;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 0 40px;
    justify-content: space-between;
    background-color: white;
}
#left-side, #right-side{
    display: flex;
    align-items: center;
    width: 300px;
}
.search{
    width: 100%;
    display: flex;
    
}
.search input{
    height: 100%;
    font-size: 18px;
    width: 100%;
    border: 1px solid rgb(177, 177, 177);
}
.search-button{
    padding: 0 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(177, 177, 177);
}

.sidebar-vid{
    display: flex;
    margin: 15px;
}

.thumbnail-img{
    width: 50%;
    position:relative;
}
.thumbnail-img::after{
    content: "22:50";
    position: absolute;
    background-color: rgba(0, 0,0, 0.5);
    right: 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 5px;
    width: 20%;
    height: 20%;
}

.thumb-title{
    font-size:18px
}
.thumb-info{
    font-size: 12px;
}
.thumb-description{
    width: 50%;
    margin-left: 15px;
}
.profile{
    display: flex;
    margin-bottom: 10px;
}
.profile-name{
    font-weight: bold;
    display: block;
}
.subscribe{
    display:flex;
}
.subscribe-counter{
    border:1px solid grey;
}
.subscribe-button{
    background: red;
    border:0;
    color:white;
}
.video-info{
    margin-left:20px;
}
.video-title{
    margin-top: 40px ;
    margin-bottom: 20px;
}
.profile-info{
    margin-left: 20px;
}
.profile-name{
    margin-bottom: 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #949494;
}
.info-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.info-button{
    text-align: center;
}
.views-title{
    font-size: 30px;
    font-weight: 300;
    color: rgb(102, 101, 101);
}
.Hr{
    background: rgb(22, 122, 198);
    height: 3px;
    margin-bottom:-2px;
    width: 90%;
    border:0;
}
.container{
    display: flex;
    justify-content: space-between;
    margin:10px 0;
}
.like{
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.like img{
    margin-right: 8px;
}

.